In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('pelisDta.csv')

In [4]:
data

,Unnamed: 0,title,director,release_year,runtime,genre,rating,metascore,gross(M)
0,0,The Shawshank Redemption,Frank Darabont,1994,142,Drama,9.3,82,28.34
1,1,The Godfather,Francis Ford Coppola,1972,175,Crime,9.2,100,134.97
2,1,The Godfather,Francis Ford Coppola,1972,175,Drama,9.2,100,134.97
3,2,The Dark Knight,Christopher Nolan,2008,152,Action,9.0,84,534.86
4,2,The Dark Knight,Christopher Nolan,2008,152,Crime,9.0,84,534.86
...,...,...,...,...,...,...,...,...,...
2527,998,The Invisible Man,James Whale,1933,71,Horror,7.6,87,0.00
2528,998,The Invisible Man,James Whale,1933,71,Sci-Fi,7.6,87,0.00
2529,999,Cell 211,Daniel Monzón,2009,113,Action,7.6,0,0.00
2530,999,Cell 211,Daniel Monzón,2009,113,Crime,7.6,0,0.00
2531,999,Cell 211,Daniel Monzón,2009,113,Drama,7.6,0,0.00